node_modules/
*.log
*.wav
*.mp3
*~
*jquery.js
*socket.io.js
*socket.io-stream.js

cert/
cert/mixidea.cert
cert/mixidea.csr
cert/mixidea.key
cert/csr.pem
cert/file.crt
cert/file.pem

config/mixidea.conf


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
logs/*
